<div xmlns:th="http://www.thymeleaf.org">
  <section class="jumbotron text-center">
    <div class="container">
      <h3 class="jumbotron-heading">All products in shopping cart</h3>
    </div>
  </section>

  <div class="container mb-4">
    <div class="row">
      <div class="col-12" th:if="${tickets.size() > 0}">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Movie Title</th>
              <th scope="col">Num of Tickets</th>
              <th scope="col">Date of Creation</th>
              <th scope="col">User</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ticket : ${tickets}">
              <td th:text="${ticket.getMovieTitle()}"></td>
              <td th:text="${ticket.getNumberOfTickets()}"></td>
              <td th:text="${ticket.getCreated()}"></td>
              <td th:text="${ticket.getUsername()}"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>